// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tiles {
	height: 75px;
	width: 75px;
	background-color: #3366FF;
	border-radius: 5px;
	text-align: center;
	font-size:xx-large;
}